h1{
    width:350px;
    padding:25px 50px 50px;
    background-color: red;
}
h2{
    width: 350px;
    margin:60px 50px 50px 100px;
    background-color: red;
}
ul{
    list-style-type: none;
    margin: 0px;
    margin-bottom: 15px;
    width: 50%;
}
ul li{
    display: inline-block;
    background-color: red;
    padding: 5px 10px 5px 10px;
    border-radius: 10%;
}